.login-container{
   
  background-color: #db5353;
  /* margin: 150px 395px; */
  padding: 20px;
  margin: 0px 40px 20px 40px;
  border-radius: 10px;
}
.loginForm-container{
    /* width: 90%; */
    margin: 30px auto;
    /* padding: 30px 30px; */
    box-sizing: border-box;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    background-color: white;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #c49300;
    color: white;
    padding: 14px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 4px;
    
  }
  .login{
    width: 500px;
    background-color:#f3fafe;
    margin: 40px auto;
  
  }

