table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .list-container{
      margin: 40px;
  }
  .button-container{
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
  }